html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-image: url("https://keersten.sfo2.digitaloceanspaces.com/boris-misevic-lR5xHmyvVVk-unsplash.jpg");
  background-size: cover;
}

.k {
  &-recaptcha {
    margin: 1rem 0;
  }

  &-features {
    list-style: disc;
    text-align: left;
  }

  &-profile {
    margin-top: 100px;
    text-align: center;
    
    &-img {
      border-radius: 100%;
      box-shadow: 0px 2px 8px 0px #3f4646;
      margin: auto;
      margin-top: -110px;
      width: 140px;
      height: auto;
      background-color: #f5e945;
      padding: 22px;
    }
  }
}

hr {
  background-color: #8cbbc7;
  margin-left: 1rem;
  margin-right: 1rem;
}

.parsley-errors-list {
  color: red;
  margin-top: 0.5rem;
  font-size: 14px;
}

.hidden {
  display: none;
}